@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-family: "Poppins", sans-serif;
}

label {
  @apply text-[.9rem] text-dark/75
}

input, textarea, select {
  @apply shadow-sm p-2.5 outline-none text-[.9rem] rounded-md w-full border border-gray-200
}

.btn-default {
  @apply bg-white text-sm text-gray-800 py-1 px-4 rounded-sm border border-gray-200 shadow-sm
}

.btn-primary {
  @apply btn-default;
  @apply bg-primary text-white
}

.btn-red {
  @apply btn-default;
  @apply bg-red-200 text-red-600;
}

#table-wrapper {
  @apply !overflow-auto !w-full;

  table#basic {
    @apply w-full h-full;
    
    tr {
      @apply border-b border-gray-300;
      
      th {
       @apply uppercase;
      }

      th, td {
        @apply text-sm text-dark/75 px-4 py-2 text-start
      }

      td {
        a {
          @apply py-1 px-4 capitalize rounded-sm flex text-sm gap-1;
        }
        
        button {
          @apply py-1 px-4 capitalize rounded-sm flex text-sm gap-1
        }
      }
    }
  }
}
  
  #navbar-hamburguer.open {
    transform: translateX(0.35rem);
    transition: .1s ease-in-out;
    :nth-child(1) {
      transform: translateY(0.7rem);
      rotate: 45deg;
    transition: .1s ease-in-out;
  }
  :nth-child(2) {
    opacity: 0;
    transform: translateX(-0.35rem);
    transition: .1s ease-in-out;
  }
  :nth-child(3) {
    transform: translateY(-0.7rem);
    rotate: -45deg;
    transition: .1s ease-in-out;
  }
}

#aside.open {
  transform: translateX(0);
}