@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-family: "Poppins", sans-serif;
}

label {
  @apply text-[.9rem] text-dark/75
}

input, textarea, select {
  @apply shadow-sm p-2.5 outline-none text-[.9rem] text-dark/75 rounded-md w-full border border-gray-200
}

.btn-default {
  @apply bg-white text-sm text-gray-800 py-1 px-4 rounded-sm border border-gray-200 shadow-sm
}

.btn-primary {
  @apply btn-default;
  @apply bg-primary text-white
}

.btn-red {
  @apply btn-default;
  @apply bg-red-200 text-red-600;
}

#table-wrapper {
  @apply !overflow-auto !w-full;

  .dt-length {
    @apply flex justify-start items-center gap-1 capitalize;
  }

  .dt-search {
    @apply flex justify-end items-center;
  }

  .dt-layout-cell {

    label {
      @apply !text-[.9rem] text-dark/75;
    }

    input,
    textarea,
    select {
      @apply !w-auto;
    }
  }

  .dt-info {
    @apply text-[.9rem] text-dark/75 font-normal
  }

  .dt-paging-button {
    @apply p-1 px-2 text-sm;
  }

  table {
    @apply w-full h-full;

    tr {
      @apply border-b border-gray-300;

      th {
        @apply uppercase text-nowrap !min-w-36;
      }

      th,
      td {
        @apply text-sm text-dark/75 px-4 py-2 text-start
      }

      td {
        @apply text-nowrap max-w-[12.5rem] text-ellipsis overflow-hidden;

        a {
          @apply py-1 px-4 capitalize rounded-sm flex text-sm gap-1;
        }

        button {
          @apply py-1 px-4 capitalize rounded-sm flex text-sm gap-1
        }
      }
    }
  }
}

#navbar-hamburguer.open {
  transform: translateX(0.35rem);
  transition: .1s ease-in-out;

  :nth-child(1) {
    transform: translateY(0.7rem);
    rotate: 45deg;
    transition: .1s ease-in-out;
  }

  :nth-child(2) {
    opacity: 0;
    transform: translateX(-0.35rem);
    transition: .1s ease-in-out;
  }

  :nth-child(3) {
    transform: translateY(-0.7rem);
    rotate: -45deg;
    transition: .1s ease-in-out;
  }
}

#aside.open {
  transform: translateX(0);
}

#item_content_list {
  #items {
    @apply gap-4;

    #item {
      @apply flex flex-col gap-2 p-2 shadow-sm rounded-md relative;

      button#removeContentItemBtn {
        @apply absolute right-2 top-4;

        span {
          @apply block w-3 h-[.09rem] bg-dark/75 rotate-45;
        }

        span:nth-child(2) {
          @apply -rotate-45 -translate-y-[.1rem];
        }
      }

      div#element {
        @apply flex flex-col;

        label {
          @apply font-bold;
        }

        input {
          @apply shadow-md p-3 outline-none text-[.9rem] rounded-md;
        }
      }
    }
  }
}